footer.background-gray-dark
    div
        figure
            img(src="/mundial/polla/dist/polla/img/logobocon.png")
        div.links
            a(href="#", title="title").text-uppercase.text-white terminos y condiciones
