div.overlay
div.nav-mobile
    nav.class-navbar.col-xs-12
        div.col-xs-3
            a(href="#", title="Menu").icon-menu.class-btn-menu.background-red.text-white
        div.container-logo-nav.col-xs-9
            figure
                img(src="/src/static/img/logopolla.png", alt="logo").class-logo.col-xs-12
        div.col-xs-2
            a(href="#", title="Profile").icon-user-o.class-btn-profile.text-gray-light
    div.menu
        div.user-profile.background-red
            div.icon-user-o.class-btn-profile
            div.data-user
                p.text-white.text-uppercase claudia noriega
                p.text-white
                    | Puntos acumulados
                    span.text-strong 50 Ptos.
        div.sec-options
            ul.list-options
                li.option.selected
                    span.icon-home
                    label.text-uppercase home
                li.option
                    span.icon-soccer-ball
                    label.text-uppercase fixture
                li.option
                    span.icon-how-play
                    label.text-uppercase ¿cómo jugar?
                li.option
                    span.icon-premio
                    label.text-uppercase mecánica y premios
                li.option
                    span.icon-cup
                    label.text-uppercase ganadores
        div.sec-social
            div.follow Síguenos en
            div.social-buttons
                a.text-blue-facebook.icon-facebook(href="#")
                a.text-blue-twitter.icon-twitter(href="#")
                a.text-red-gplus.icon-gplus(href="#")
        div.links-specials
            a(href="#")
                figure.logo-special
                    img(src="/src/static/img/logo-mundial.png")
            a(href="#")
                figure.logo-special
                    img(src="/src/static/img/logotrivia.png")
div.nav-desk
    nav.class-navbar.col-lg-12
        div.wrapper-nav
            div.container-logo-nav.col-lg-2
                figure
                    img(src="/src/static/img/logopolla.png", alt="logo").class-logo.col-xs-12
            div.sec-options.col-lg-5
                ul.list-options
                    li.option
                        a(href="#").text-white.text-uppercase fixture
                    li.option
                        a(href="#").text-white.text-uppercase ¿cómo jugar?
                    li.option
                        a(href="#").text-white.text-uppercase mecánica y premios
                    li.option
                        a(href="#").text-white.text-uppercase ganadores
            div.links-specials.col-lg-2
                a(href="#")
                    figure.logo-special
                        img(src="/src/static/img/logo-mundial.png")
                a(href="#")
                    figure.logo-special
                        img(src="/src/static/img/logotrivia.png")

            div.buttons-login-register.col-lg-3
                a#btn-login-desk.btn.text-uppercase.text-white(href="#") iniciar sesión
                a#btn-register-desk.btn.text-uppercase.text-white(href="#") registrarse
            div.profile-points.col-lg-3
                a.btn-profile.text-white(href="#")
                    | Hola,
                    span Claudia Noriega
                    i.icon-triangle-down
                a.btn-points.text-white(href="#")
                    | 50
                    span ptos.
