div.modal#modal_stadistic
    div.container-modal
        div.match-stadistic
            p.text-uppercase.date vie, 15 - 18:00 | faltan 42:29:35
            h2.name-group.text-red.text-uppercase grupo b
            div.teams-score
                div.box-country
                    figure.flag-country
                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                    div.name-country.text-uppercase per
                div.score
                    div.markup-number
                        p 3
                    div.percente
                        p.text-red vs
                    div.markup-number
                        p 1
                div.box-country
                    figure.flag-country
                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                    div.name-country.text-uppercase din
            p.text-uppercase.stadium estadio fisht, sochi
        div.accordion.teams-stadistic
            div.stadistic-local-team.tab-accordion
                input#tab-local(type="checkbox", name="tabs")
                label(for="tab-local").text-uppercase portugal
                div.tab-accordion-content
                    div.container-players-team
                        h3.text-uppercase equipo
                        ul.list-players
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red p
                                p.name-player.text-uppercase rui patrício
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase joao cancelo
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase pepe
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase raphaël guerreiro
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase luis neto
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase joao moutinho
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase renato sanches
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase joao mario
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase 
                                    | cristiano ronaldo 
                                    span.text-red (c)
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase nani
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase ricardo quaresma
                            li.item-player
                                span.icon-dt
                                p.role-player.text-uppercase.text-red dt
                                p.name-player.text-uppercase fernando santos (por)
                    div.next-matches
                        h3.text-uppercase partidos
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | mié. 20 | luzhnikí, moskú
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase portugal
                                div.teams-versus
                                    p.text-uppercase.text-red 15:00
                                div.box-country
                                    p.text-uppercase marruecos
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | lun. 25 | kazán arena, kazán
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase irán
                                div.teams-versus
                                    p.text-uppercase.text-red 21:00 
                                div.box-country
                                    p.text-uppercase portugal
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                    a.btn-mobile.text-white.background-red.text-uppercase apuesta ahora
            div.stadistic-visitor-team.tab-accordion
                input#tab-visitor(type="checkbox", name="tabs")
                label(for="tab-visitor").text-uppercase españa
                div.tab-accordion-content
                    div.container-players-team
                        h3.text-uppercase equipo
                        ul.list-players
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red p
                                p.name-player.text-uppercase pepe reina
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase 
                                    | sergio ramos 
                                    span.text-red (c)
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase gerard piqué
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase jordi alba
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase nacho fern{andez
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase andrés iniesta
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase david silva
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase sergio busquets
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase álvaro morata
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase iago aspas
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase josé callejón
                            li.item-player
                                span.icon-dt
                                p.role-player.text-uppercase.text-red dt
                                p.name-player.text-uppercase julen lopetegui (esp)
                    div.next-matches
                        h3.text-uppercase partidos
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | mié. 20 | luzhnikí, moskú
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase irán
                                div.teams-versus
                                    p.text-uppercase.text-red 15:00
                                div.box-country
                                    p.text-uppercase españa
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | lun. 25 | kazán arena, kazán
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase españa
                                div.teams-versus
                                    p.text-uppercase.text-red 21:00 
                                div.box-country
                                    p.text-uppercase marruecos
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                    a.btn-mobile.text-white.background-red.text-uppercase apuesta ahora    
        div.teams-desk
            div.columns-teams.teams-stadistic
                div.stadistic-local-team
                    div.container-players-team
                        h3.text-uppercase equipo
                        ul.list-players
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red p
                                p.name-player.text-uppercase rui patrício
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase joao cancelo
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase pepe
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase raphaël guerreiro
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase luis neto
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase joao moutinho
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase renato sanches
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase joao mario
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase 
                                    | cristiano ronaldo 
                                    span.text-red (c)
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase nani
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase ricardo quaresma
                            li.item-player
                                span.icon-dt
                                p.role-player.text-uppercase.text-red dt
                                p.name-player.text-uppercase fernando santos (por)
                div.stadistic-visitor-team
                    div.container-players-team
                        h3.text-uppercase equipo
                        ul.list-players
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red p
                                p.name-player.text-uppercase pepe reina
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase 
                                    | sergio ramos 
                                    span.text-red (c)
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase gerard piqué
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase jordi alba
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase nacho fern{andez
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase andrés iniesta
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase david silva
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red m
                                p.name-player.text-uppercase sergio busquets
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase álvaro morata
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase iago aspas
                            li.item-player
                                span.icon-soccer-ball
                                p.role-player.text-uppercase.text-red d
                                p.name-player.text-uppercase josé callejón
                            li.item-player
                                span.icon-dt
                                p.role-player.text-uppercase.text-red dt
                                p.name-player.text-uppercase julen lopetegui (esp)
            div.columns-teams.teams-stadistic
                div.stadistic-local-team
                    div.next-matches
                        h3.text-uppercase partidos
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | mié. 20 | luzhnikí, moskú
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase portugal
                                div.teams-versus
                                    p.text-uppercase.text-red 15:00
                                div.box-country
                                    p.text-uppercase marruecos
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | lun. 25 | kazán arena, kazán
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase irán
                                div.teams-versus
                                    p.text-uppercase.text-red 21:00 
                                div.box-country
                                    p.text-uppercase portugal
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                div.stadistic-visitor-team
                    div.next-matches
                        h3.text-uppercase partidos
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | mié. 20 | luzhnikí, moskú
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase irán
                                div.teams-versus
                                    p.text-uppercase.text-red 15:00
                                div.box-country
                                    p.text-uppercase españa
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                        div.item-next-match
                            p.group-date-stadium.text-uppercase
                                span.text-red grupo b
                                |  | lun. 25 | kazán arena, kazán
                            div.teams-score
                                div.box-country
                                    figure.flag-country
                                        img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                                    p.text-uppercase españa
                                div.teams-versus
                                    p.text-uppercase.text-red 21:00 
                                div.box-country
                                    p.text-uppercase marruecos
                                    figure.flag-country
                                        img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
            a.btn-mobile.text-white.background-red.text-uppercase apuesta ahora    
        a.background-red.text-white.icon-close