.list-news
    margin-top 30px
    .item-new
        position relative
        height 340px
        margin 10px auto 0 auto
        overflow hidden
        text-align center
        // width 300px
        width 95%
@media screen and (min-width: 768px)
    .list-news
        .item-new.first
            width 100%
        .item-new
            display inline-block
            width 355px
            &:nth-child(even)
                margin-right 15px
@media screen and (min-width: 800px)
    .item-new:not(.first)
        width 370px
@media screen and (min-width: 960px)
    .list-news
        ul
            display flex
            display -ms-flexbox
            flex-wrap wrap
            -ms-flex-wrap wrap
            .item-new.first
                margin-left 0
                width 590px
            .item-new:not(.first)
                width 286px
                &:nth-child(even),
                &:nth-child(odd)
                    margin-right 0
                &:nth-child(3)
                    margin-left 0
