div#form-recovery
  figure
    img(src="/mundial/polla/dist/polla/img/logopolla.png")
  p Ingresa tu correo electr칩nico para recuperar tu contrase침a
  form#form-recovery.form(action="#", method="POST", @submit.prevent="sendRecovery")
    .field-input
      span.icon-mail.text-red
      div.input-text
        label.title-input.text-red.text-uppercase correo electr칩nico
        input(type="email", placeholder="Tu correo electr칩nico", v-model="email")
    vue-recaptcha(ref="recaptcha", :sitekey="key_recaptcha", :size="sizeCaptcha").recaptcha.recaptcha-recovery
    input(type="submit", value="enviar").background-red.btn-mobile.text-white.text-uppercase
    label.error-msg(v-show="!valid && message_error != ''")
      i.icon-exclamation-triangle
      | {{ message_error }}
  div.other-sesion
    div.link-recovery
      a(href="#", @click.prevent="openLogin").text-red Volver atras
