@font-face
   font-family 'Telex-regular'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Telex-Regular.ttf')

@font-face
   font-family 'Patua-one'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Patua_One/PatuaOne-Regular.ttf')

@font-face
   font-family 'Rajdhani-bold'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Rajdhani/Rajdhani-Bold.ttf')

@font-face
   font-family 'Rajdhani-light'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Rajdhani/Rajdhani-Light.ttf')

@font-face
   font-family 'Rajdhani-medium'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Rajdhani/Rajdhani-Medium.ttf')

@font-face
   font-family 'Rajdhani-regular'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Rajdhani/Rajdhani-Regular.ttf')

@font-face
   font-family 'Rajdhani-semibold'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Rajdhani/Rajdhani-SemiBold.ttf')

@font-face
   font-family 'Roboto-bold'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto/Roboto-Bold.ttf')

@font-face
   font-family 'Roboto-light'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto/Roboto-Light.ttf')

@font-face
   font-family 'Roboto-medium'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto/Roboto-Medium.ttf')

@font-face
   font-family 'Roboto-regular'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto/Roboto-Regular.ttf')

@font-face
   font-family 'Roboto-condensed-bold'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf')

@font-face
   font-family 'Roboto-condensed-light'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf')

@font-face
   font-family 'Roboto-condensed-regular'
   font-style normal
   src url('/mundial/polla/dist/polla/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')
