footer 
    margin-top 20px
    & > div
        display flex
        display -ms-flexbox
        justify-content space-between
        padding 5px 10px
        -ms-flex-pack justify
        figure
            width 80px
        .links
            text-align right
            a
                font-size 12px
                &:hover
                    color white
                    text-decoration none
@media screen and (min-width: 1200px)
    footer 
        & > div
            margin-left auto
            margin-right auto
            padding-left 0
            padding-right 0
            width 935px