extends ./partials/_base.pug
block styles
    link(href="/dist/css/fixture.css", rel="stylesheet")
block content
    div.wrapper
        div.score-user
            h3.text-red.text-uppercase mis puntos: 50 ptos.
        div.list-path
            label.text-uppercase home
            span >
            label.text-uppercase.current-section fixture
        div.title-section
            h1.text-uppercase fixture
        span.red-line
        section.sec-dates
            div.box-select-groups.col-lg-12
                div.phases-names-mob
                    p.text-uppercase.text-red fase de grupos
                div.phases-names-desk.col-lg-12
                    ul.list-phases.col-lg-12
                        li.item-phase.active
                            label.phase-name.text-uppercase fase de grupos
                            span.bullet-phase
                        li.item-phase.active.current
                            label.phase-name.text-uppercase octavos
                            span.bullet-phase
                        li.item-phase
                            label.phase-name.text-uppercase cuartos
                            span.bullet-phase
                        li.item-phase
                            label.phase-name.text-uppercase semifinal
                            span.bullet-phase
                        li.item-phase
                            label.phase-name.text-uppercase tercer lugar
                            span.bullet-phase
                        li.item-phase
                            label.phase-name.text-uppercase final
                            span.bullet-phase
                div.box-slider-groups.col-lg-12
                    a(href="#", title="previus date").icon-arrow-left.text-white.background-red.btn-arrow
                    div.container-list-dates
                        ul.list-dates
                            li.item-date
                                div.date
                                    p.day.text-gray-light Jue.
                                    p.number 14
                                div.game
                                    p.min-number.text-red
                                        |1
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Vie.
                                    p.number 15
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Sáb.
                                    p.number 16
                                div.game
                                    p.min-number.text-red
                                        |4
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Dom.
                                    p.number 17
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                            li.item-date
                                div.date
                                    p.day.text-gray-light Lun.
                                    p.number 18
                                div.game
                                    p.min-number.text-red
                                        |3
                                        span.icon-soccer-ball
                    a(href="#", title="next date").icon-arrow-right.text-white.background-red.btn-arrow 
        section.sec-match
            div.item-match
                div.group-date
                    p.text-uppercase.text-red
                        | grupo a 
                        span.text-black | jue. 14 - 18:00
                div.match
                    div.social-buttons
                        a.text-blue-facebook.icon-facebook(href="#")
                        a.text-blue-twitter.icon-twitter(href="#")
                        a.text-red-gplus.icon-gplus(href="#")
                    div.teams-score
                        div.box-country
                            figure.flag-country
                                img(src="../img/balones/Peru-sombra-blanca.png", alt="Perú")
                            div.name-country-percent
                                label.text-uppercase per
                                br 
                                label.percent-country 0%
                        div.score
                            div.markup-number
                                input(type="text" placeholder="-" maxlength="1" value="")
                            div.percente
                                p.text-red 0%
                                p Coinciden
                            div.markup-number
                                input(type="text" placeholder="-" maxlength="1" value="")
                        div.box-country
                            figure.flag-country
                                img(src="../img/balones/Dinamarca-sombra-blanca.png", alt="Perú")
                            div.name-country-percent
                                label.text-uppercase din
                                br 
                                label.percent-country 0%
        section.sec-results
            div
                p 
                    | Resultado 95': 
                    span.text-red 3 - 1 | 
                    span.text-green-olive.text-uppercase ganaste 3 ptos.
            div
                p.text-red 200 Aciertos Marcador + Resultado 100 Aciertos Ganador
        section.sec-news
            h4.text-uppercase.text-strong noticias relacionadas
            span.red-line
            div.list-news
                ul
                    li.item-new.first-note
                        a(href="#").btn-new
                            figure
                                img(src="../img/notas/ECUADOR_VS_PERÚ_-_RUSIA_2018_(36246039093).jpg").class
                            div.layer-shadow
                            div.detail-new
                                p.text-uppercase.text-mustard-light
                                    | mundial rusia 
                                    span.text-white / hace 4 horas                            
                                h2.text-uppercase.text-white 4 jugadores que pueden meterse a la lista de rusia 2018
                                div.social-buttons
                                    a.text-white.icon-facebook(href="#")
                                    a.text-white.icon-twitter(href="#")
                                    a.text-white.icon-gplus(href="#")
                    li.item-new
                        a(href="#").btn-new
                            figure
                                img(src="../img/notas/gareca.jpg").class
                            div.layer-shadow
                            div.detail-new
                                p.text-uppercase.text-mustard-light
                                    | mundial rusia 
                                    span.text-white / hace 4 horas                            
                                h2.text-uppercase.text-white 4 jugadores que pueden meterse a la lista de rusia 2018
                                div.social-buttons
                                    a.text-white.icon-facebook(href="#")
                                    a.text-white.icon-twitter(href="#")
                                    a.text-white.icon-gplus(href="#")
                    li.item-new
                        a(href="#").btn-new
                            figure
                                img(src="../img/notas/gareca.jpg").class
                            div.layer-shadow
                            div.detail-new
                                p.text-uppercase.text-mustard-light
                                    | mundial rusia 
                                    span.text-white / hace 4 horas                            
                                h2.text-uppercase.text-white 4 jugadores que pueden meterse a la lista de rusia 2018
                                div.social-buttons
                                    a.text-white.icon-facebook(href="#")
                                    a.text-white.icon-twitter(href="#")
                                    a.text-white.icon-gplus(href="#")
                    li.item-new
                        a(href="#").btn-new
                            figure
                                img(src="../img/notas/gareca.jpg").class
                            div.layer-shadow
                            div.detail-new
                                p.text-uppercase.text-mustard-light
                                    | mundial rusia 
                                    span.text-white / hace 4 horas                            
                                h2.text-uppercase.text-white 4 jugadores que pueden meterse a la lista de rusia 2018
                                div.social-buttons
                                    a.text-white.icon-facebook(href="#")
                                    a.text-white.icon-twitter(href="#")
                                    a.text-white.icon-gplus(href="#")
                    li.item-new
                        a(href="#").btn-new
                            figure
                                img(src="../img/notas/gareca.jpg").class
                            div.layer-shadow
                            div.detail-new
                                p.text-uppercase.text-mustard-light
                                    | mundial rusia 
                                    span.text-white / hace 4 horas                            
                                h2.text-uppercase.text-white 4 jugadores que pueden meterse a la lista de rusia 2018
                                div.social-buttons
                                    a.text-white.icon-facebook(href="#")
                                    a.text-white.icon-twitter(href="#")
                                    a.text-white.icon-gplus(href="#")
            div.sec-btn-more
                a.text-white.text-uppercase.btn-mobile.background-red
                    | ver más
                    i.icon-arrow-right
        div.adsSpace.adsSpaceZocalo1.left
            p(style="width:160px;height:600px") Zocalo 1
        div.adsSpace.adsSpaceZocalo2.right
            p(style="width:160px;height:600px") Zocalo 2